{% extends 'base/base.html' %}

{% block content %}

    <center>
        <h1>Contador</h1>
        <br/><br/>
    </center>

    <center>
        <h1 id="counter"></h1>
        <br/><br/>
    </center>

    <script>
        var num = "{{ cont }}";
        document.getElementById('counter').innerHTML = num;
    </script>

    <center>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button " class="btn btn-primary" onclick="document.getElementById('counter').innerHTML = ++num">+1</button>
            <button type="button" class="btn btn-danger" onclick="document.getElementById('counter').innerHTML = --num">-1</button>
        </div>
    </center>

{% endblock %}