{% extends 'base/base.html' %}

{% block content %}

    <center>
        <h1>FizzBuzz!!!</h1>
        <br/><br/>
    
        <script>
            
            for (i=1; i<=100; i++){
                if ((i%3 == 0) || (i%5 == 0)){
                    if (i%3 == 0){
                        if (i%5 == 0){
                            document.write(i + ". FizzBuzz!!!<br/>");
                        } else {
                            document.write(i + ". Fizz<br/>");
                        }
                    } else {
                        document.write(i + ". Buzz | ");
                    }
                } else {
                    document.write(i + ". --- | ");
                }
            }

        </script>

    </center>   

{% endblock %}